<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2021. All rights reserved.
  ~ @author: Volodymyr Hryvinskyi <mailto:volodymyr@hryvinskyi.com>
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Hryvinskyi\SeoCanonicalGroupedProductFrontend\Model\GetAssociatedCanonicalGroupedProductConfigInterface"
                type="Hryvinskyi\SeoCanonicalGroupedProductFrontend\Model\GetAssociatedCanonicalGroupedProductConfig"/>

    <virtualType name="Hryvinskyi\SeoCanonicalCatalogProductFrontend\Model\CanonicalUrl\ProductProcessor">
        <arguments>
            <argument name="items" xsi:type="array">
                <item name="grouped" xsi:type="array">
                    <item name="object" xsi:type="object">Hryvinskyi\SeoCanonicalGroupedProductFrontend\Model\CanonicalUrl\GroupedProductProcess</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
